annotated-types
anthropic
anyio
asgiref
certifi
channels
channels-redis
charset-normalizer
colorama
distro
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
docker
drf-nested-routers
filelock
fsspec
h11
httpcore
httpx
huggingface-hub
idna
jiter
msgpack
packaging
pillow
pydantic
pydantic_core
PyJWT
python-dotenv
PyYAML
redis
requests
setuptools
sniffio
sqlparse
tokenizers
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
channels[daphne]
daphne
uvicorn

# Payment gateway dependencies
requests-oauthlib
rave-python
cryptography

# UniPayment SDK
unipayment
