Django
python-dotenv
psycopg2-binary
Pillow
channels
channels-redis
daphne
stripe
requests
django-anymail
celery
django-elasticsearch-dsl
django-crispy-forms
crispy-bootstrap5
django-extensions
django-debug-toolbar
httpx
gunicorn
whitenoise
django-security
pandas
django-import-export
