Django
djangorestframework
channels
Pillow
psycopg2-binary
celery
redis
django-storages
cloudinary
django-htmx
django-tailwind
elasticsearch-dsl
python-dotenv
dj
daphne
djangorestframework-simplejwt
django-cors-headers
django-filter
django-redis
django-crispy-forms
django-allauth
requests
